.codes {
  font-size: .6em;
  font-weight: bold;
}

/* do not display in printer friendly mode */
.tfPrinterFriendlyNot {
  display: none;
}

/* only show this as inline in printer friendly, "inherit" not available on ie */
.tfPrinterFriendlyOnlyInline {
  display: inline;
}

/* only show this as inline in printer friendly, "inherit" not available on ie */
.tfPrinterFriendlyOnlyBlock {
  display: block;
}

